<%- include('header'); -%>

<section class="movie-banner">
    <div class="m-banner-img">
        <img src="https://images2.minutemediacdn.com/image/fetch/w_2000,h_2000,c_fit/https%3A%2F%2Fnetflixlife.com%2Ffiles%2Fimage-exchange%2F2022%2F03%2Fie_85742.jpeg" alt="">
    </div>

    <div  class="banner-container">
        <div class="title-container">
            <div class="title-top">
                <div class="movie-title">
                    <h1>The Sea Beast</h1>
                </div>

                <div class="more-about-movie">
                    <span class="quality">Full HD</span>
                </div>

            </div>

            <div class="title-bottom">
                <div class="category">
                    <strong>Category</strong><br/>
                    <a href="#">Adventure</a>,<a href="#">Animation</a>,<a href="#">Comedy</a>
                </div>

                <a href="https://youtu.be/Ua-b6CDFU-A" class="watch-btn">Watch Trailer</a>
            </div>
        </div>
    </div>
</section>

<!----------Banner End------->

<section class="movie-details">
    <strong>The Sea Beast</strong>
    <p>A legendary sea monster hunter's life is turned upside down when a young girl stows away on his ship and befriends the most dangerous beast of them all.</p>
</section>

<section class="screenshots">
    <strong>ScreenShots</strong>
    <div class="screen-s-container">
        <img src="https://tlum.ru/uploads/cbaf300aed07d197f9a4d90b982733c4ddb6064a7efad730cb1f50d727c33631.jpeg" alt="">
        <img src="https://www.kino-teatr.ru/movie/kadr/154559/1145544.jpg" alt="">
        <img src="https://www.indiewire.com/wp-content/uploads/2022/03/The-Sea-Beast.png" alt="">
        <img src="https://dnm.nflximg.net/api/v6/BvVbc2Wxr2w6QuoANoSpJKEIWjQ/AAAAQRrh5TH_ntm9CfPqCc84-J3OUcBfwPJMHo97cexNA1Mno_GrpMEnYke1axs4wo2xf3lpOaPGuIYil2AqsG4hAta82pL-iNv7t2VTR9GoOBsmGRRTI_eVICWNh-CT4YpOpdu4_QBEbFBXdSkpsZRKPJP3AIE.jpg?r=e71" alt="">
    </div>
</section>

<section id="latest">
    <div class="latest-heading">
        <h1>Catalog</h1>
    </div>
    <div class="post-container">
        <div class="post-box">
            <div class="post-img">
                <img src="https://lumiere-a.akamaihd.net/v1/images/p_rayaandthelastdragon_21294_83346778.jpeg" alt="">
            </div>
            <div class="main-slider-text">
                <span class="quality">Full HD</span>

                <div class="bottom-text">
                    <div class="movie-name">
                        <span>2021</span>
                        <a href="https://youtu.be/1VIZ89FEjYI">Raya And The Last Dragon</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-box">
            <div class="post-img">
                <img src="https://images-na.ssl-images-amazon.com/images/I/91Low7SvoyL.jpg" alt="">
            </div>
            <div class="main-slider-text">
                <span class="quality">Full HD</span>

                <div class="bottom-text">
                    <div class="movie-name">
                        <span>2020</span>
                        <a href="https://youtu.be/CaimKeDcudo">Encanto</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-box">
            <div class="post-img">
                <img src="https://www.film.ru/sites/default/files/movies/posters/27740261-1704475.jpg" alt="">
            </div>
            <div class="main-slider-text">
                <span class="quality">Full HD</span>

                <div class="bottom-text">
                    <div class="movie-name">
                        <span>2021</span>
                        <a href="https://youtu.be/EPZu5MA2uqI">Sing 2</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-box">
            <div class="post-img">
                <img src="https://m.media-amazon.com/images/M/MV5BOTgxMDQwMDk0OF5BMl5BanBnXkFtZTgwNjU5OTg2NDE@._V1_FMjpg_UX1000_.jpg" alt="">
            </div>
            <div class="main-slider-text">
                <span class="quality">Full HD</span>

                <div class="bottom-text">
                    <div class="movie-name">
                        <span>2015</span>
                        <a href="https://youtu.be/yRUAzGQ3nSY">Inside Out</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-box">
            <div class="post-img">
                <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/4303601/8dd7d6df-e041-49ef-ad01-d14eece72e0a/300x450" alt="">
            </div>
            <div class="main-slider-text">
                <span class="quality">Full HD</span>

                <div class="bottom-text">
                    <div class="movie-name">
                        <span>2021</span>
                        <a href="https://youtu.be/dDNhtB7L8Lk">Back To The Outback</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-box">
            <div class="post-img">
                <img src="https://cartoonimages.club/wp-content/uploads/2021/08/Vivo-2022-Wall-Calendar-Netflix-Film-cartoonimages-club-448x560.jpg" alt="">
            </div>
            <div class="main-slider-text">
                <span class="quality">Full HD</span>

                <div class="bottom-text">
                    <div class="movie-name">
                        <span>2021</span>
                        <a href="https://youtu.be/BOe8L69JpVI">Vivo</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-box">
            <div class="post-img">
                <img src="https://media.kg-portal.ru/movies/i/incredibles2/posters/incredibles2_36.jpg" alt="">
            </div>
            <div class="main-slider-text">
                <span class="quality">Full HD</span>

                <div class="bottom-text">
                    <div class="movie-name">
                        <span>2018</span>
                        <a href="https://youtu.be/i5qOzqD9Rms">The Incredibles 2</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-box">
            <div class="post-img">
                <img src="https://m.media-amazon.com/images/M/MV5BYTYxNGMyZTYtMjE3MS00MzNjLWFjNmYtMDk3N2FmM2JiM2M1XkEyXkFqcGdeQXVyNjY5NDU4NzI@._V1_.jpg" alt="">
            </div>
            <div class="main-slider-text">
                <span class="quality">Full HD</span>

                <div class="bottom-text">
                    <div class="movie-name">
                        <span>1994</span>
                        <a href="https://youtu.be/lFzVJEksoDY">The Lion King</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-box">
            <div class="post-img">
                <img src="https://m.media-amazon.com/images/M/MV5BMTk3NDE2NzI4NF5BMl5BanBnXkFtZTgwNzE1MzEyMTE@._V1_FMjpg_UX1000_.jpg" alt="">
            </div>
            <div class="main-slider-text">
                <span class="quality">Full HD</span>

                <div class="bottom-text">
                    <div class="movie-name">
                        <span>2009</span>
                        <a href="https://youtu.be/ORFWdXl_zJ4">Up</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="post-box">
            <div class="post-img">
                <img src="https://m.media-amazon.com/images/M/MV5BMTM3NDM5MzY5Ml5BMl5BanBnXkFtZTcwNjExMDUwOA@@._V1_.jpg" alt="">
            </div>
            <div class="main-slider-text">
                <span class="quality">Full HD</span>

                <div class="bottom-text">
                    <div class="movie-name">
                        <span>2012</span>
                        <a href="https://youtu.be/hzixp8s4pyg">Ice Age 4</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="post-box">
            <div class="post-img">
                <img src="https://m.media-amazon.com/images/M/MV5BMjExMTg5OTU0NF5BMl5BanBnXkFtZTcwMjMxMzMzMw@@._V1_.jpg" alt="">
            </div>
            <div class="main-slider-text">
                <span class="quality">Full HD</span>

                <div class="bottom-text">
                    <div class="movie-name">
                        <span>2008</span>
                        <a href="https://youtu.be/CZ1CATNbXg0">WALL-E</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="post-box">
            <div class="post-img">
                <img src="https://upload.wikimedia.org/wikipedia/en/9/96/Brave_Poster.jpg" alt="">
            </div>
            <div class="main-slider-text">
                <span class="quality">Full HD</span>

                <div class="bottom-text">
                    <div class="movie-name">
                        <span>2012</span>
                        <a href="https://youtu.be/TEHWDA_6e3M">Brave</a>
                    </div>
                </div>
            </div>
        </div>


    </div>

</section>
</body>
<%- include('footer'); -%>

<script src="../script/mode.js"></script>

</html>
