<%- include('header'); -%>

<section class="movie-banner">
    <div class="m-banner-img">
        <img src="https://whatsondisneyplus.com/wp-content/uploads/2022/04/kiss-six.jpg" alt="">
    </div>

    <div  class="banner-container">
        <div class="title-container">
            <div class="title-top">
                <div class="movie-title">
                    <h1>Kiss Sixth Sense</h1>
                </div>

                <div class="more-about-movie">
                    <span class="quality">Full HD</span>
                </div>

            </div>

            <div class="title-bottom">
                <div class="category">
                    <strong>Category</strong><br/>
                    <a href="#">Romance</a>,<a href="#">Comedy</a>
                </div>

                <a href="https://youtu.be/8FNwMvTZqvY" class="watch-btn">Watch Trailer</a>
            </div>
        </div>
    </div>
</section>

<!----------Banner End------->

<section class="movie-details">
    <strong>Kiss Sixth Sense</strong>
    <p>Adapted from a webtoon that tells the story of Ye-sool who has the ability to see the future when she kisses, and after she accidentally kissed the neck of her boss, Cha Min-hoo, she sees their future together.</p>
</section>

<section class="screenshots">
    <strong>ScreenShots</strong>
    <div class="screen-s-container">
        <img src="https://6.viki.io/image/6b985efde1644a2b8c187a863e3f1c8d/dummy.jpeg?s=900x600&e=t" alt="">
        <img src="https://6.viki.io/image/8c60fda236ec441d9c374ee9a2f4780d/dummy.jpeg?s=900x600&e=t" alt="">
        <img src="https://zapzee.net/wp-content/uploads/2021/08/30000650807_1280-horz.jpg" alt="">
        <img src="https://devdiscourse.blob.core.windows.net/devnews/16_05_2022_11_42_20_4759638.jpg" alt="">
    </div>
</section>

<section id="latest">
    <div class="latest-heading">
        <h1>Catalog</h1>
    </div>
    <div class="post-container">
        <div class="post-box">
            <div class="post-img">
                <img src="https://www.themoviedb.org/t/p/w500/o5cBRMF6syh4yUBgZ2Ust8LvcxA.jpg" alt="">
            </div>
            <div class="main-slider-text">
                <span class="quality">Full HD</span>

                <div class="bottom-text">
                    <div class="movie-name">
                        <span>2018</span>
                        <a href="https://youtu.be/E1O158mb5NM">My Mister</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-box">
            <div class="post-img">
                <img src="https://i.mydramalist.com/Xk2Dg_4f.jpg" alt="">
            </div>
            <div class="main-slider-text">
                <span class="quality">Full HD</span>

                <div class="bottom-text">
                    <div class="movie-name">
                        <span>2021</span>
                        <a href="https://youtu.be/IR9cIGXbYLk">Law School</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-box">
            <div class="post-img">
                <img src="https://doramakun.ru/thumbs/users/36286/filmy-2/30-400.jpg" alt="">
            </div>
            <div class="main-slider-text">
                <span class="quality">Full HD</span>

                <div class="bottom-text">
                    <div class="movie-name">
                        <span>2019</span>
                        <a href="https://youtu.be/jLrWXxEAgXk">Class of Lies</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-box">
            <div class="post-img">
                <img src="https://upload.wikimedia.org/wikipedia/ru/c/c6/Vincenzo_poster.jpg" alt="">
            </div>
            <div class="main-slider-text">
                <span class="quality">Full HD</span>

                <div class="bottom-text">
                    <div class="movie-name">
                        <span>2021</span>
                        <a href="https://youtu.be/S12-4mXCNj4">Vincenzo</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-box">
            <div class="post-img">
                <img src="https://photos.hancinema.net/photos/photo1390900.jpg" alt="">
            </div>
            <div class="main-slider-text">
                <span class="quality">Full HD</span>

                <div class="bottom-text">
                    <div class="movie-name">
                        <span>2021</span>
                        <a href="https://youtu.be/Z2kJpmgz4jc">Shadow Beauty</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-box">
            <div class="post-img">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3a/Tomorrow_%282022%29.jpg/250px-Tomorrow_%282022%29.jpg" alt="">
            </div>
            <div class="main-slider-text">
                <span class="quality">Full HD</span>

                <div class="bottom-text">
                    <div class="movie-name">
                        <span>2022</span>
                        <a href="https://youtu.be/zhmxDgBxGRk">Tomorrow</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-box">
            <div class="post-img">
                <img src="https://upload.wikimedia.org/wikipedia/en/2/2d/Love_Alarm.jpg" alt="">
            </div>
            <div class="main-slider-text">
                <span class="quality">Full HD</span>

                <div class="bottom-text">
                    <div class="movie-name">
                        <span>2021</span>
                        <a href="https://youtu.be/g0Oj4A2rslY">Love Alarm 2</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-box">
            <div class="post-img">
                <img src="https://asiapoisk.com/uploads/cache/doramas2/162408191460cd85fa0c9883.19518696_0gkgN_4f-450x900.jpg" alt="">
            </div>
            <div class="main-slider-text">
                <span class="quality">Full HD</span>

                <div class="bottom-text">
                    <div class="movie-name">
                        <span>2021</span>
                        <a href="https://youtu.be/xJCTxUuu3js">Nevertheless</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-box">
            <div class="post-img">
                <img src="https://www.pinkvilla.com/imageresize/Resizer_16115537956970.jpg?format=jpg&width=900" alt="">
            </div>
            <div class="main-slider-text">
                <span class="quality">Full HD</span>

                <div class="bottom-text">
                    <div class="movie-name">
                        <span>2019</span>
                        <a href="https://youtu.be/XyBXbYYSFiw">Tempted</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="post-box">
            <div class="post-img">
                <img src="https://asiapoisk.com/uploads/cache/doramas/XX-450x900.jpg" alt="">
            </div>
            <div class="main-slider-text">
                <span class="quality">Full HD</span>

                <div class="bottom-text">
                    <div class="movie-name">
                        <span>2020</span>
                        <a href="https://youtu.be/twdNrhOhshs">XX</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="post-box">
            <div class="post-img">
                <img src="https://upload.wikimedia.org/wikipedia/en/5/5b/School_2015_poster.jpg" alt="">
            </div>
            <div class="main-slider-text">
                <span class="quality">Full HD</span>

                <div class="bottom-text">
                    <div class="movie-name">
                        <span>2015</span>
                        <a href="https://youtu.be/QGzhWpD2gZw">School 2015</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="post-box">
            <div class="post-img">
                <img src="https://doramy.club/wp-content/uploads/2019/12/itevon-klass1.jpg" alt="">
            </div>
            <div class="main-slider-text">
                <span class="quality">Full HD</span>

                <div class="bottom-text">
                    <div class="movie-name">
                        <span>2020</span>
                        <a href="https://youtu.be/NeaHNQJ1kCo">Itaewon Class</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
</body>
<%- include('footer'); -%>
<script src="../script/mode.js"></script>

</html>
