<!-- Footer Start -->
<div class="container-fluid bg-dark text-white mt-5 py-5 px-sm-3 px-md-5">
    <div class="row pt-5">
        <div class="col-lg-7 col-md-6">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <div class="col-8">
                        <div id="title">MovieHUB </div>
                        <p>Movie & series recommendation service.<br>All rights to the provided movies & series belong to their respective owners.</p>
                        <div id="buttons">
                            <a href="https://vk.com" title="Vk group" target="_blank">
                                <img src="https://img.icons8.com/material/36/ffffff/vk-circled.png" alt="Vk" title="Vkontakte">
                            </a>
                            <a href="https://facebook.com" title="Facebook group" target="_blank">
                                <img src="https://img.icons8.com/material/36/ffffff/facebook-new.png" alt="FB" title="Facebook">
                            </a>
                            <a href="https://instagram.com" title="Instagram" target="_blank">
                                <img src="https://img.icons8.com/material/36/ffffff/instagram-new--v1.png" alt="Inst" title="Instagram">
                            </a>
                            <a href="https://twitter.com" title="Twitter" target="_blank">
                                <img src="https://img.icons8.com/material/36/ffffff/twitter-squared.png" alt="TWT" title="Twitter">
                            </a>
                        </div>
                    </div>

                    <div id="block2">
                        <div class="col-4">
                            <div id="Contact us">Contact us</div>
                            <div id="Contacts info">
                                <img src="https://img.icons8.com/material/24/ffffff/whatsapp--v1.png" alt="WhatsApp"/> +7 701 735 12 26 <br>
                                <img src="https://img.icons8.com/material/24/ffffff/sent--v1.png" alt="Telegram"/> @moviehub <br>
                                <img src="https://img.icons8.com/material/24/ffffff/gmail--v1.png" alt="E-mail"/> moviehub.aitu@gmail.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->