<html lang="en">

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="../styles/log-style.css" rel="stylesheet">
  <title>Login</title>
  <div id="messages" class="messages">
  <%if (messages.error)%>
    <%= messages.error%></div>

<div class='main-login'>
  <div class="login-contain">
    <div class="left-side">
      <div class="img-class">
        <img src="../images/3logo.png" id="img-id" alt="" />
      </div>

      <form id="login" method="post" action="/users/login">
        <div class="form-group">
          <label>Username</label>
          <input type="text" name="username" class="form-control" placeholder="Username">
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" name="password" class="form-control"  placeholder="Password">
        </div>
        <button type="submit" id="sub_butt">Login</button>
      </form>
    </div>
  </div>
</div>
<p class="para-2">
  Don't have account? <a href='/users/register'>Sign up here</a>
</p>
