<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">

    <link href="/style.css" rel="stylesheet">
    <link href="../styles/pricing_style.css" rel="stylesheet">

</head>
<body>

<div class="wrapper">
    <div class="payment">
        <div class="payment-logo">
            <img src="logo.png" id="img-id" alt="" />
        </div>


        <h2>Set up your credit or debit card</h2>
        <div class="form">
            <div class="card space icon-relative">
                <label class="label">Card holder:</label>
                <input type="text" class="input" placeholder="Full name">
                <i class="fas fa-user"></i>
            </div>
            <div class="card space icon-relative">
                <label class="label">Card number:</label>
                <input type="text" class="input" data-mask="0000 0000 0000 0000" placeholder="#### #### #### ####">
                <i class="far fa-credit-card"></i>
            </div>
            <div class="card-grp space">
                <div class="card-item icon-relative">
                    <label class="label">Expiry date:</label>
                    <input type="text" name="expiry-data" class="input" data-mask="00 / 00"  placeholder="00 / 00">
                    <i class="far fa-calendar-alt"></i>
                </div>
                <div class="card-item icon-relative">
                    <label class="label">CVC:</label>
                    <input type="text" class="input" data-mask="000" placeholder="000">
                    <i class="fas fa-lock"></i>
                </div>
            </div>

            <div class="btn">
                Pay
            </div>

        </div>
    </div>
</div>


</body>
<%- include('footer'); -%>
</html>
