<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MovieHub</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="style.css" rel="stylesheet">
    <link href="../styles/com-field.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>


<body>
<%- include('header'); -%>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-center" id="title-com"></h2>
        </div>

        <div class="col-lg-6">
            <div id="comment-field"></div>
        </div>

        <div class="col-lg-6">
            <form method="post" action="/comments/posts">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" name="username" class="form-control" placeholder="username">
                </div>

                <div class="form-group">
                    <label>Film</label>
                    <input type="text" name="film" class="form-control" placeholder="film">
                </div>

                <div class="form-group">
                    <label>Your comment:</label>
                    <input type="text" name="text" class="form-control" placeholder="text">
                </div>

                <button type="submit" class="btn btn-default">Sign Up</button>
            </form>
        </div>
    </div>
</div>

<style>
    .form-group{
        margin-bottom: 20px;
    }
</style>
</body>
<%- include('footer'); -%>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
<script src="../script/mode.js"></script>

</html>