<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pricing Table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../styles/pricing_style.css" rel="stylesheet">
    <link href="../style.css" rel="stylesheet">
    <link href="../styles/catalog.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<%- include('header'); -%>



<script src="https://www.paypal.com/sdk/js?client-id=AZoC8HtnXJSw6Qk6KHp0gRuBFbKBUBAkiLzbQf6caseX_rll6SgES0GaXtM7Wegw06mpzvwl6DyJ2S6P&currency=USD"></script>

<div class="pricing-plan-container">

    <section class="pricing-plan pricing-plan-highlighted">
        <div class="pricing-plan-header">
            <h1 class="pricing-plan-title">Premium</h1>
        </div>
        <div class="pricing-plan-description">
            <ul class="pricing-plan-list">
                <li class="pricing-plan-feature">Access To All Information And Pictures</li>
                <li class="pricing-plan-feature">Links To Movies,K-Drama,Anime</li>
                <li class="pricing-plan-feature">Unlimited Access To Clip Views</li>
                <li class="pricing-plan-feature">Updating Movies,K-Drama,Anime Every Week</li>
            </ul>
        </div>
        <div class="pricing-plan-actions">
            <p class="pricing-plan-cost">$15</p>
            <p class="pricing-plan-text">per month</p>
            <p class="pricing-plan-text">Please log in to continue!</p>
            <form>
                <div id="paypal-button-container" ></div>
            </form>
        </div>
    </div>
</body>
    <%- include('footer'); -%>
<script src="../script/mode.js"></script>
</html>