<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pricing Table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../styles/pricing_style.css" rel="stylesheet">
    <link href="../style.css" rel="stylesheet">
    <link href="../styles/catalog.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
<!-- Navbar Start -->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
        <div class="navigation">
            <input type="checkbox" class="menu-btn" id="menu-btn">
            <label for="menu-btn" class="menu-icon">
                <span class="nav-icon"></span>
            </label>

            <ul class="menu">
                <li><a href='/'>Home</a></li>
                <li><a href='/profile'><%= username%></a></li>
                <li><a href='/filter'>Filter</a></li>
                <li><a href='/pricing_table'>Premium</a></li>
                <li><a href='/users/login'>Logout</a></li>
            </ul>
        </div>

        <div class="navbar-nav m-auto py-0">
            <div id="logo">
                <span>MovieHub</span>
            </div>
        </div>
        <a class="nav-item nav-link ">Hi, <%= username%></a>
        <a href='/posts' class="nav-item nav-link ">Posts</a>
        <a href='/' class="nav-item nav-link ">Home</a>
        <a href='/film' class="nav-item nav-link">Film</a>
        <a href='tvshow' class="nav-item nav-link">TV-Show</a>
        <a href='/anime' class="nav-item nav-link">Anime</a>
        <a href='/cartoons' class="nav-item nav-link">Cartoon</a>
        <a href='/drama' class="nav-item nav-link">K-Drama</a>
        <a href='/soundtrack' class="nav-item nav-link">Soundtrack</a>
        <input type="checkbox" id="mode">
    </nav>
</div>


<script src="https://www.paypal.com/sdk/js?client-id=AZoC8HtnXJSw6Qk6KHp0gRuBFbKBUBAkiLzbQf6caseX_rll6SgES0GaXtM7Wegw06mpzvwl6DyJ2S6P&currency=USD"></script>

<div class="pricing-plan-container">

    <section class="pricing-plan pricing-plan-highlighted">
        <div class="pricing-plan-header">
            <h1 class="pricing-plan-title">Premium</h1>
        </div>
        <div class="pricing-plan-description">
            <ul class="pricing-plan-list">
                <li class="pricing-plan-feature">Access To All Information And Pictures</li>
                <li class="pricing-plan-feature">Links To Movies,K-Drama,Anime</li>
                <li class="pricing-plan-feature">Unlimited Access To Clip Views</li>
                <li class="pricing-plan-feature">Updating Movies,K-Drama,Anime Every Week</li>
            </ul>
        </div>
        <div class="pricing-plan-actions">
            <p class="pricing-plan-cost">$15</p>
            <p class="pricing-plan-text">per month</p>
            <form>
                <div id="paypal-button-container" ></div>
            </form>
        </div>
    </div>
</body>
<!-- Footer Start -->
<div class="container-fluid bg-dark text-white mt-5 py-5 px-sm-3 px-md-5">
    <div class="row pt-5">
        <div class="col-lg-7 col-md-6">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <div class="col-8">
                        <div id="title">MovieHUB </div>
                        <p>Movie & series recommendation service.<br>All rights to the provided movies & series belong to their respective owners.</p>
                        <div id="buttons">
                            <a href="https://vk.com" title="Vk group" target="_blank">
                                <img src="https://img.icons8.com/material/36/ffffff/vk-circled.png" alt="Vk" title="Vkontakte">
                            </a>
                            <a href="https://facebook.com" title="Facebook group" target="_blank">
                                <img src="https://img.icons8.com/material/36/ffffff/facebook-new.png" alt="FB" title="Facebook">
                            </a>
                            <a href="https://instagram.com" title="Instagram" target="_blank">
                                <img src="https://img.icons8.com/material/36/ffffff/instagram-new--v1.png" alt="Inst" title="Instagram">
                            </a>
                            <a href="https://twitter.com" title="Twitter" target="_blank">
                                <img src="https://img.icons8.com/material/36/ffffff/twitter-squared.png" alt="TWT" title="Twitter">
                            </a>
                        </div>
                    </div>

                    <div id="block2">
                        <div class="col-4">
                            <div id="Contact us">Contact us</div>
                            <div id="Contacts info">
                                <img src="https://img.icons8.com/material/24/ffffff/whatsapp--v1.png" alt="WhatsApp"/> +7 701 735 12 26 <br>
                                <img src="https://img.icons8.com/material/24/ffffff/sent--v1.png" alt="Telegram"/> @moviehub <br>
                                <img src="https://img.icons8.com/material/24/ffffff/gmail--v1.png" alt="E-mail"/> moviehub.aitu@gmail.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
<script>
    paypal.Buttons({
        // Sets up the transaction when a payment button is clicked
        createOrder: (data, actions) => {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '15.0' // Can also reference a variable or function
                    }
                }]
            });
        },
        // Finalize the transaction after payer approval
        onApprove: (data, actions) => {
            return actions.order.capture().then(function(orderData) {
                // Successful capture! For dev/demo purposes:
                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                const transaction = orderData.purchase_units[0].payments.captures[0];
                alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
                // When ready to go live, remove the alert and show a success message within this page. For example:
                // const element = document.getElementById('paypal-button-container');
                // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                // Or go to another URL:  actions.redirect('thank_you.html');
            });
        }
    }).render('#paypal-button-container');
</script>
<script src="../script/mode.js"></script>
</html>