<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../styles/profile-style.css">
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<div class="container">
    <div class="profile-box">
        <h1><%= username%></h1>
        <h4>Email: <%= email%></h4>
        <h4>Name: <%= name%></h4>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/filter'>Catalog</a></li>
            <li><a href='/users/login'>Log Out</a></li>
        </ul>
    </div>
</div>
</body>
</html>