<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="../styles/signUp-style.css" />
    <link/>

</head>
<body>
<% if (errors) {%>
    <% errors.forEach(function(error) { %>
        <div class="alert alert-danger">
            <%= error.msg %>
        </div>
    <% });%>
<% }%>
<div class="container">

<div class="signup-box">
    <div class="img-class">
        <img src="../images/3logo.png" id="img-id" alt="" />
    </div>

    <form method="post" action="/users/register">
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" placeholder="Name">
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="text" name="email" class="form-control" placeholder="Email">
        </div>

        <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" class="form-control" placeholder="Username">
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control"  placeholder="Password">
        </div>

        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" name="password2" class="form-control"  placeholder="Confirm Password">
        </div>

        <button type="submit" class="btn btn-default">Sign Up</button>
    </form>

</div>
<p class="para-2">
    Already have an account? <a href='/users/login'>Login here</a>
</p>
</div>
</body>
</html>
