.movie-banner{
    width: 90%;
    max-width: 1400px;
    margin: 10px auto;
    min-height: 520px;
    padding: 60px 40px 40px 40px;
    position: relative;
    display: flex;
    justify-content: center;
}
.movie-banner::after{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(32,32,32,0.7);
    background: linear-gradient(0deg, rgba(8,8,8) 0%,rgba(0,0,0,0.6) 100%);
}
.m-banner-img{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.m-banner-img::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(32,32,32,0.7);
    background: linear-gradient(-90deg,rgba(37,37,37,0.2) 0%, rgba(15,15,15,0.3) 100%);
}
.m-banner-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.banner-container{
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    position: relative;
}
.title-container{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.movie-title h1{
    color: #ffffff;
    font-weight: 600;
    font-size: 2.7rem;
    line-height: 50px;
    letter-spacing: 1px;
}
.more-about-movie .quality{
    background-color: #e70634;
    color: black;
    font-weight: 600;
    padding: 0px 5px;
    height: 20px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.more-about-movie{
    display: flex;
    justify-content: flex-start;
}
.title-bottom{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
}
.title-bottom .category{
    margin-right: 40px;
    font-size: 0.8rem;
    color: #dadada;
}
.title-bottom .category strong{
    font-weight: 500;
    color: #ffffff;
}
.title-bottom .category a{
    color: #ef233c;
    margin-right: 6px;
}
.watch-btn{
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff09;
    border: 1px solid #ffffff2c;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #ffffff;
    letter-spacing: 1px;
    transition: all ease 0.3s;
}
.watch-btn:hover{
    background-color: #ef233c;
    transition: all ease 0.3s;
}
.movie-details{
    max-width: 1000px;
    width: 100%;
    margin: 20px auto 20px auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.movie-details strong{
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.movie-details p{
    color: #747474;
    margin: 10px 0px;
}
.screenshots{
    width: 100%;
    max-width: 800px;
    margin: 0px auto 50px auto;

}
.screenshots strong{
    color: #ef233c;
    font-size: 2rem;
    font-weight: 400;
}
.screen-s-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.screen-s-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
