*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-image: url("https://wallpaperaccess.com/full/3658597.jpg");
    margin: 0 10px;
}

.payment{
    background: black;
    max-width: 360px;
    margin: 80px auto;
    height: auto;
    padding: 35px;
    padding-top: 70px;
    border-radius: 5px;
    position: relative;
}

.payment h2{
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 40px;
    color: #eee;
}

.form .label{
    display: block;
    color: gray;
    margin-bottom: 6px;
}

.input{
    padding: 13px 0px 13px 25px;
    width: 100%;
    text-align: center;
    border: 2px solid #dddddd;
    border-radius: 5px;
    letter-spacing: 1px;
    word-spacing: 3px;
    outline: none;
    font-size: 16px;
    color: #555555;
}

.card-grp{
    display: flex;
    justify-content: space-between;
}

.card-item{
    width: 48%;
}

.space{
    margin-bottom: 20px;
}

.icon-relative{
    position: relative;
}



.btn{
    margin-top: 40px;
    background: darkred;
    padding: 12px;
    text-align: center;
    color: #f8f8f8;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    background: red;
}


.payment-logo {
    height: 5rem;
    margin-bottom: 30px;
}
#img-id {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200%;
    object-fit: cover;
    position: center;
    top: 40%;
    transform: translate(0, -40%)
}


@media screen and (max-width: 420px){
    .card-grp{
        flex-direction: column;
    }
    .card-item{
        width: 100%;
        margin-bottom: 20px;
    }
    .btn{
        margin-top: 20px;
    }
}