.main{
    margin-top: 40px;
	padding:30px;
	font-family: 'Helvetica', serif;
	box-shadow: 5px 5px 20px 5px #888888;
	background-color: #ffffff;
	border-radius: 10px;
	
}
.main h1{
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	font-size: 40px;
	text-align:center;
	font-family: 'Helvetica', serif;
	-webkit-text-stroke: 0.5px #000000;
	background-color: orange;
	border: 1px solid #555;
	border-radius: 15px;
	
}
.mode {
    float:right;
    font-size: 20px;
	color: #e6e6e6;
}
.change {
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 40%;
    width: 50px;
    text-align: center;
    padding: 10px;
    margin-left: 8px;
}
.dark{
    background-color: #222;
    color: #e6e6e6;
}

input{
	font-family: 'Helvetica', serif;
	width: 100%;
	font-size: 20px;
	padding: 12px 20px;
	margin: 8px 0;
	border: none;
	border-bottom: 2px solid #767474;
}
input[type=submit] {
	font-family: 'Helvetica', serif;
	width: 100%;
	background-color: #767474;
	border: none;
	color: white;
	padding: 16px 32px;
	margin: 4px 2px;
	border-radius: 10px;
}

body { background: url(../../MovieHub/images/summer-movies-2021-new-e1620919489437.jpg);
	background-size: cover;
}